<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/home.css" />
    <link rel="stylesheet" href="../css/about.css" />
    <title>About Us</title>
  </head>
  <body>
    <nav>
      <div class="nav-container">
        <a href="../../index.html"
          ><img src="../../assets/icon.png" alt="medicare logo"
        /></a>
        <span id="hamburger">&#9776;</span>
      </div>
      <ul class="nav-item-container hidden">
        <li class="nav-item"><a href="../../index.html">Home</a></li>
        <li class="nav-item" id="products">
          <a>Products</a>
          <ul class="nav-products hidden">
            <li class="nav-products-hover">
              <a href="./healthcare.html">Healthcare</a>
            </li>
            <li class="nav-products-hover"><a href="#">Cosmetic</a></li>
            <li class="nav-products-hover"><a href="#">Misc.</a></li>
          </ul>
        </li>
        <li class="nav-item active"><a href="#">About Us</a></li>
        <li class="nav-item"><a href="./register.html">Register</a></li>
        <li class="nav-item"><a href="./login.html">Login</a></li>
      </ul>
    </nav>
    <main>
      <div class="about">
        <h1>About Us</h1>
        <img src="../../assets/icon.png" alt="medicare logo" />
        <p>
          Founded in 2001, MediCare started as a small family-owned healthcare
          store in Kemanggisan, Jakarta. As more and more people get to know
          about MediCare, it is natural for us to expand our stores to other
          cities and provinces. Now, we have more than 100 stores spread out in
          almost every major cities in Indonesia, including but not limited to
          Aceh, Medan, Palembang, Jakarta, Surabaya, Pontianak, Balikpapan and
          Makassar. We also offers a wider variety for products from healthcare,
          cosmetics, medicines, and many more. We have a commitment to stay true
          to our humble origin and serving our customers with best customer
          services and high quality products.
        </p>
      </div>
      <div class="contact">
        <h2>Contact Us</h2>
        <p>Customer Service Hotline: <br />(+62) 081123456789</p>
        <p>Customer Service Email: support@medicare.id</p>
      </div>
    </main>
    <footer>
      <div class="social-icons">
        <a href="https://www.twitter.com/" target="_blank"
          ><img
            src="https://img.icons8.com/ios-glyphs/30/000000/twitter--v1.png"
        /></a>
        <a href="https://www.facebook.com/" target="_blank"
          ><img
            src="https://img.icons8.com/material-outlined/30/000000/facebook-f.png"
        /></a>
        <a href="https://www.instagram.com/" target="_blank"
          ><img
            src="https://img.icons8.com/fluency-systems-regular/30/000000/instagram-new--v1.png"
        /></a>
      </div>
      <p>Copyright ©2022 Andrew Garcia. All Rights Reserved</p>
    </footer>
    <script src="../js/home.js"></script>
  </body>
</html>
