<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Healthcare</title>
    <link rel="stylesheet" href="../css/home.css" />
    <link rel="stylesheet" href="../css/about.css" />
    <link rel="stylesheet" href="../css/products.css" />
  </head>
  <body>
    <nav>
      <div class="nav-container">
        <a href="../../index.html"
          ><img src="../../assets/icon.png" alt="medicare logo"
        /></a>
        <span id="hamburger">&#9776;</span>
      </div>
      <ul class="nav-item-container hidden">
        <li class="nav-item"><a href="../../index.html">Home</a></li>
        <li class="nav-item active" id="products">
          <a>Products</a>
          <ul class="nav-products hidden">
            <li class="nav-products-hover" id="healthcare">
              <a href="#">Healthcare</a>
            </li>
            <li class="nav-products-hover"><a href="#">Cosmetic</a></li>
            <li class="nav-products-hover"><a href="#">Misc.</a></li>
          </ul>
        </li>
        <li class="nav-item"><a href="./about.html">About Us</a></li>
        <li class="nav-item"><a href="./register.html">Register</a></li>
        <li class="nav-item"><a href="./login.html">Login</a></li>
      </ul>
    </nav>
    <main>
      <div class="about">
        <h1>Healthcare</h1>
        <p>
          Our most popular health care products, made and packaged carefully to
          cater your needs
        </p>
      </div>
      <div class="prods">
        <div class="prods-detail best-seller">
          <img src="../../assets/healthcare/basil_oil.jpg" alt="basil oil" />
          <h2>MediCare Basil Oil</h2>
          <p>
            Basil oil is extracted from the herb Ocimum basilicum, of the
            Lamiaceae (Labiatae) family. It is also known as European, French,
            common or sweet basil.
          </p>
        </div>
        <div class="prods-detail">
          <img src="../../assets/healthcare/shampoo.jpg" alt="shampoo" />
          <h2>MediCare Special Shampoo</h2>
          <p>
            Get a head start every morning and experience the refreshing tingle
            of our special shampoo. Our shampoo contains special ingredients and
            tea tree oil to help wash away impurities.
          </p>
        </div>
        <div class="prods-detail">
          <img src="../../assets/healthcare/lotion.jpg" alt="body lotion" />
          <h2>MediCare Body Lotion</h2>
          <p>
            Containing earth-derived ingredients (think shea butter, cocoa
            butter, and jojoba oil) the rich concoction is formulated to
            condition, nourish, and smooth dry skin.
          </p>
        </div>
      </div>
    </main>
    <footer>
      <div class="social-icons">
        <a href="https://www.twitter.com/" target="_blank"
          ><img
            src="https://img.icons8.com/ios-glyphs/30/000000/twitter--v1.png"
        /></a>
        <a href="https://www.facebook.com/" target="_blank"
          ><img
            src="https://img.icons8.com/material-outlined/30/000000/facebook-f.png"
        /></a>
        <a href="https://www.instagram.com/" target="_blank"
          ><img
            src="https://img.icons8.com/fluency-systems-regular/30/000000/instagram-new--v1.png"
        /></a>
      </div>
      <p>Copyright ©2022 Andrew Garcia. All Rights Reserved</p>
    </footer>
    <script src="../js/home.js"></script>
  </body>
</html>
