body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

.keyboard {
  height: calc(100% + 500px);
}

.login-form {
  position: absolute;
  text-align: center;
  font-size: 0.8rem;
  z-index: 0;
  top: 50%;
  left: 50%;
  width: calc(0.2vw * 400);
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 4px 2px gray;
}

.login-form h1 {
  text-align: center;
  font-weight: 400;
}

.text-field {
  position: relative;
  border-bottom: 2px solid gray;
  margin: 30px 1em;
  height: 40px;
  font-size: 1em;
}

.text-field input {
  width: 100%;
  height: 55px;
  font-size: 16px;
  padding: 0 5px;
  border: none;
  background: none;
  outline: none;
}

.text-field label {
  position: absolute;
  top: 70%;
  left: 5px;
  color: black;
  transform: translateY(-50%);
  transition: 0.3s ease;
}

.text-field input:focus ~ label,
.text-field input:valid ~ label {
  top: -1px;
  color: #38abab;
}

input[type="submit"] {
  color: #38abab;
  background-color: white;
  box-shadow: 0 0 1px 1px gainsboro;
  border-radius: 2.5px;
  width: 40%;
  padding: 0.5em;
  border: none;
}

.login-form p {
  font-size: 0.65rem;
}

.login-form a {
  color: #38abab;
  text-decoration: underline;
}

footer {
  position: relative;
  top: calc(0.7 * 100vh);
  margin: 3em;
}

@media only screen and (min-width: 600px) {
  .login-form {
    width: 40vw;
    padding: 8em 5em;
  }

  input[type="button"] {
    padding: 1em;
  }
}
