.login-form {
  max-height: 100vh;
}

.text-field {
  margin: 0 1em;
}

.radio-field p {
  font-size: 1em;
}

.radio-field {
  text-align: start;
  margin: 20px 1.3em;
}

.select-field {
  text-align: start;
  margin: 20px 1.3em;
}

.select-field select {
  width: 100%;
  height: 2.5rem;
}

#regisbutton {
  background-color: #38abab;
  color: white;
  margin-block: 1em;
}

.text-field input:focus ~ label,
.text-field input:valid ~ label {
  top: 10px;
  color: #38abab;
}

input[type="radio"] {
  appearance: none;
  background-color: white;
  color: #38abab;
  width: 1em;
  height: 1em;
  border: 0.1em solid #38abab;
  border-radius: 50%;
}

input[type="radio"]:checked {
  appearance: auto;
  accent-color: #38abab;
  border: none;
  outline: none;
}

@media only screen and (min-width: 600px) {
  .login-form {
    width: 40vw;
    padding: 0;
    padding-inline: 5em;
  }
}
